BITCOIN_BLOCKS_DIR=/home/user/.bitcoin/blocks
XOR_DAT_PATH=/home/user/.bitcoin/blocks/xor.dat
CLICKHOUSE_DATABASE=bitcoin
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=ssjdksjdk
NUM_WORKERS=4
MAX_BLOCK=1000000000
